<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thema Bearbeiten</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Thema Bearbeiten</h1>
    <form th:action="@{/topic/update}" method="post" th:object="${topic}">
        <input type="hidden" th:field="*{topicId}">
        <input type="hidden" th:field="*{supervisorId}">
        <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
        <label for="title">Titel </label>
        <input type="text" th:field="*{title}" id="title"> <br>
        <label for="description">Beschreibung</label>
        <input type="text" th:field="*{description}" id="description">
        <button type="submit">Änderungen Speichern</button>
    </form>


</body>
</html>