<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thema Erstellen</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Betreuende Menü</h1>

<h2>Ihre Themen:</h2>



<h2>Thema erstellen.</h2>
<form method="post" th:action="@{/topic/create/extra}" th:object="${topic}">
  <input type="hidden" th:field="*{supervisorId}">
  <label for="title">Titel</label>
  <input th:field="*{title}" type="text" id="title"> <br>
  <label for="description">Beschreibung</label>
  <input th:field="*{description}" type="text" id="description"> <br>
  <button type="submit" id="abschicken">Weiter</button>
  <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
</form>

<a href=""></a>

<div th:if="${erfolgreichErstellt}">
  <p>Thema wurde erfolgreich erstellt.</p>
</div>

</body>
</html>